#
#
# template.py
#
# alternate template python test file
#
#
#
import functools

class ProjectKeys:

    keyData = {{encryptionKey}}

    {{#apiKeys}}
    {{keyName}}_value = {{keyValue}}
    {{/apiKeys}}


if __name__ == '__main__':
    keys = ProjectKeys()
    key_len = False if len(keys.keyData) == 0 else True
    key1_len = False if len(keys.key1_value) == 0 else True
    key2_len = False if len(keys.key2_value) == 0 else True
    key3_len = False if len(keys.key3_value) == 0 else True
    result = functools.reduce(lambda p,q: p and q, [key_len, key1_len, key2_len, key3_len])
    message = "Success" if result else "Failed"
    print(message)
